// Файл обнуляющих стилей
@import "components/nullstyle.scss";
/*********************************************/
@import "components/fonts.scss";
@import "components/mixins.scss";
@import "components/variables.scss";

/*********************************************/

.wrapper{
	max-width: 100%;
	min-height: 100%;
	margin: 0 auto;
	}
.container{
	min-height: 100%;
	padding: 0;
	width: 0px;
}

/** header ***********************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** ### **************************************/


/** footer ***********************************/
